body {
    font-family: 'nunito', sans-serif;
    background-image: linear-gradient(-20deg, #fcf1ff 0%, #D5DCFF 100%);
    background-attachment: fixed;
    color: #121212;
    letter-spacing: 0.6px;
    margin: 0;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 18px;
    line-height: 2;
}

.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0px 0px;
    padding: 20px 80px;
    top: 0;
}

.topnav a {
    float: right;
    text-align: center;
    padding: 10px 25px;
    text-decoration: none;
    font-size: 22px;
    color: #121212;
    opacity: 1;
    border-radius: 10px;
}

.topnav a:hover {
    background-color: #9254DE;
    color: white;
    opacity: 0.8;
    transition: 0.4s;
}

.nav-left, .nav-right {
    display: flex;
}

.home_message {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40vw;
}

#home_subtext {
    font-size: 2vw;
}

h1 {
    font-size: 5vw;
    margin-top: -40px;
    margin-bottom: -40px;
}

#home-name {
    background-image: linear-gradient(45deg,#9524ff 0%, #2b24ff 100%);
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: bold;
}

@media screen and (min-width: 1800px) {

    #home_subtext {
        font-size: 1.7vw;
    }

    h1 {
        font-size: 4.3vw;
        margin-top: -50px;
        margin-bottom: -50px;
    }

  }

#home_icon {
    position: absolute;
    top: 55%;
    right: 0;
    transform: translateY(-50%);
    width: 55vw;
    height: 80vh;
}

h2 {
    max-width: 900px;
    font-size: 32px;
    margin: auto;
}

h3 {
    font-size: 28px;
    margin: -5px 0px;
}

hr {
    border: 3px solid transparent;
    border-radius: 50px;
    border-image: linear-gradient(to right, #9524ff, #2b24ff);
    border-image-slice: 1;
}

.timeline {
    max-width: 900px;
    margin: auto;
    margin-top: 150px;
}

.timeline_item > a {
    padding: 15px;
    background-image: linear-gradient(45deg, #9524ff, #2b24ff);
    margin-top: 100px;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
}

#company {
    background-image: linear-gradient(to bottom,#9524ff 0%, #2b24ff 100%);
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: bold;
}

#date {
    color: #232323;
}

iframe {
    width: 100%;
    aspect-ratio: 1830/1080;
    height: auto; /* Allow the height to adjust proportionally */
    border-radius: 20px;
}

.socials {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0px;
    margin-left: -20px;
}
  
.socials > a {
    background-color: #9254DE;
    width: 70px;
    height: 70px;
    padding: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    line-height: 75px;
    font-size: 30px;
    border-radius: 300px;
    margin: 0px 20px;
}

.socials > a:hover {
    opacity: 0.7;
    transition: 0.3s;
}

.socials > a > img {
    width: 40px;
    height: 40px;
    transform: translateY(7px);
    filter: invert(100%);
}